.cotacao_details {
    padding: 2em;
}

.cotacao_details h1, 
.cotacao_details h2,
.cotacao_details p {
    margin-bottom: 0.5em;
}

.cotacao_details h1 {
    background-color: #001c59;
    color: #dce123;
    padding: 0,4em;
}
.cotacao_details span {
    font-weight: bold;
}
.details_container,
.services_form_container {
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn {
    background-color: #001c59;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
}

.btn:hover {
    color: #dce123;
}

.cotacao_info {
    width: 100%;
}